
  <ion-toolbar>
    <button (click)="voltar()">
      <img id="back"src="https://e7.pngegg.com/pngimages/27/441/png-clipart-computer-icons-user-interface-youtube-voltar-text-sign-thumbnail.png" alt="">
    </button>
    <ion-img id="logo"src="https://cdn.pixabay.com/photo/2019/04/16/06/46/logo-4131033_640.png"></ion-img>
  </ion-toolbar>


<ion-content>
  <div class="container">
    <div id="form">
      <p>nome</p>
      <p><input type="text" name="nome" id="txtn"></p>
      <p>CPF</p>
      <p><input type="number" name="cpf" id="ncpf"></p>
      <p>CEP</p>
      <p><input type="number" name="cep" id="ncep"></p>
      <p>Telefone</p>
      <p><input type="number" name="telfone" id="ntel"></p>
      <p (click)="criarConta()"><input type="button" value="Criar conta" id="botao"></p>
    </div>
  </div>
  <footer>
    &copy;Chrys
  </footer>
</ion-content>
