#logo{
    width: 45px;
    margin: auto;
    margin-top: 19px;
}

#back{
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 30px;
    left: 20px;
}

#form{
    margin: auto;
    text-align: center;
    margin-top: 50px;

    
}

#txtn{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#ncpf{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#ncep{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#ntel{
    border-radius: 7px;
    height: 30px;
    width: 250px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

#botao{
    border-radius: 7px;
    height: 35px;
    width: 150px;
    background: blue;
    color: white;;
    margin-top: 12px;
    border: 2px solid rgba(21, 7, 92, 0.657);
}

footer{
    text-align: center;
    font: italic;
    margin-top: 50px;
    color: rgb(24, 24, 124);
}



