<ion-toolbar>
<ion-img id="logo"src="https://cdn.pixabay.com/photo/2019/04/16/06/46/logo-4131033_640.png"></ion-img>
<input type="text" name="sof" id="pesquisa" placeholder="Pesquisar vagas">
</ion-toolbar>

<ion-content>
<div>
  <h6 id="h6"><strong>Recomendações para você</strong></h6>
  <section>
    <div>
      <img class="img" src="../../assets/vaga1.png" alt="vg1">
      <p id="txtca"><strong>Assistente de TI</strong></p>
      <p id="txtem">RIOVAGAS</p>
      <button id="acess">Acessar</button>
    </div>
    <div>
      <img class="img" src="../../assets/vaga2.png" alt="vg2">
      <p id="txtca"><strong>Técnico em TI</strong></p>
      <p id="txtem">Divulga Vagas</p>
      <button id="acess">Acessar</button>
    </div>
    <div>
      <img class="img" src="../../assets/vaga3.png" alt="vg3">
      <p id="txtca"><strong>Analista de <br>
      Suporte de TI</strong></p>
      <p id="txtem">Clima Rio</p>
      <button id="acess">Acessar</button>
    </div>
    <div>
      <img class="img" src="../../assets/vaga4.png" alt="vg4">
      <p id="txtca"><strong>Analista de Suporte<br>
      Técnico TI</strong></p>
      <p id="txtem">Orizon</p>
      <button id="acess">Acessar</button>
    </div>
    <div>
      <img class="img" src="../../assets/vaga5.png" alt="vg5">
      <p id="txtca"><strong>Desenvolvedor<br>
        ios TI</strong></p>
      <p id="txtem">Hurb</p>
      <button id="acess">Acessar</button>
    </div>
    <div>
      <p id="more">Ver mais</p>
    </div>
  </section>
</div>
</ion-content>
